body
{
    font-family: arial,helvetica;
    background: #e5dcdc;
}

.menu-nav
{
   list-style: none;
   padding: 0;
   background-color: grey;
   width: 90%;
   max-width: 1000px;
   margin: auto;
   border-radius: 12px;
   display: flex;
   justify-content: space-around;
   
}

.menu-nav li a
{
    text-decoration: none;
    color:white;
    padding: 20px;
    display: block;
}

.menu-nav li 
{
    display: inline-block;
    text-align: center;

}

.menu-nav li a:hover
{
background-color: rgb(152, 215, 126);
}

.menu-nav a.active 
{
    background-color: rgb(152, 215, 126);
    font-weight: bold;
    color: black;
}

.tarjeta-custom
{
    width: 30%;
    min-width: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 12px papayawhip;
}

.imt1
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    height: 180px;
}

h4
{
    text-align: center;
}

h5
{
    text-align: center;
}